body{
  margin:0;
  background:white;
  font-family:Helvetica, sans-serif;
  overflow:hidden;
}

.slider{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.slide{
  position:absolute;
  opacity:0;
  transition:opacity .8s;
  padding:20px;
  font-size:1.4rem;
  text-align:center;
  width:80%;
}

.slide.active{
  opacity:1;
}

.controls{
  position:absolute;
  bottom:20px;
  width:100%;
  display:flex;
  justify-content:center;
  gap:20px;
}

button{
  padding:10px 20px;
  font-size:1.1rem;
  border:none;
  border-radius:10px;
  background:#ffd5e5;
  cursor:pointer;
}

#musicBtn{
  position:absolute;
  top:20px;
  right:20px;
}

.hearts{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
}

.heart{
  position:absolute;
  font-size:20px;
  animation: float 6s linear infinite;
  opacity:0.7;
}

@keyframes float{
  0%{transform:translateY(100vh);}
  100%{transform:translateY(-10vh);}
}

@keyframes fade {
    0% { opacity: 1; transform: translateY(0) scale(1); }
    100% { opacity: 0; transform: translateY(-60px) scale(1.4); }
}
